<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>STORE</title>
</head>
<body>
    <header>
        <h1>WELCOME TO THE HOTDOG BOOM BOOM </h1>
        <nav class="navbar">
            <div class="hamburger" id="hamburger">
                &#9776; <!-- Hamburger icon -->
            </div>
            <ul id="menu" class="hidden">
                <li><a href="/">HOTDOG</a></li>
                <li><a href="/about">EGG FRIED RICE</a></li>
                <li><a href="/contact">MANAGER</a></li>
            </ul>
        </nav>
    </header>
    <main>
   
    </main>
    <script src="/static/js/index.js"></script>
</body>
</html>
